.container{
  background-image: url('/poke_error.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 4rem;
}

.errorButton{
  padding: 10px;
  border-radius: 15px;
  border: 1px solid gray;
  cursor: pointer;
}